# LLM
OPENAI_API_KEY=your_openai_api_key_here

# Qdrant Cloud
QDRANT_URL=https://your-cluster-url.us-east.aws.cloud.qdrant.io
QDRANT_API_KEY=your_qdrant_api_key_here
QDRANT_COLLECTION=indonesian_jobs

# App
APP_PORT=8000
